.section2{
    height: 100vh;
    width: 100%;
    @extend .flexRow--header;
}

.rightSection2{
    @extend .leftSection1;
    margin-left: 50px;
    background-image: url(../../img/background-we-are.png);
    p:after{
        content: "It's 2019: time to sink or swim.";
        line-height: 4;
    }
    h2{
        font-family: $poppins;
        font-weight: $fwSemiBold;
        font-size: 50px;
        color: $grey;
    }

    h3{
        font-size: 20px;
        font-family: $poppins;
        color: $purple;
        font-weight: $fwMedium;
    }
}

.leftSection2{
    margin-left: $pmMedium;
}

@media screen and (max-width: 1100px) {
    .section2{
        flex-direction: $column;
        text-align: $centerFlex;
    }
    .leftSection2{
        margin-left: 0;
    }
    .rightSection2{
        margin-left: 0;
    }
}

@media screen and (max-width: 750px) {
    .section2 img{
        width: $halfAllignement;
    }
}

@media screen and (max-width: 400px) {
    .section2 img{
        padding-top: 40px;
    }
  }