//Colors
$purple: #7E76F9;
$grey: #42495b;
$gradient: linear-gradient(to left, #6156f9 112%, #1a129f 50%);
$border: #1000ff;

//Padding and Margin
$pmLight: 2%;
$pmMedium: 5%;
$pmLarge: 10%;

//Shadow
$shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);

//Border-radius
$radiusSmall: 25px;
$radiusLarge: 35px;

//Fonts
$poppins: 'Poppins', sans-serif;
$lobster: 'Lobster', cursive;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;

//Container
$contain: 80%;

//Center
$centerBlock: 0 auto;
$centerFlex: center;

//Titles


//Flex
$column: column;
$row: row;

//List
$noDecoration: none;